# fly.toml app configuration file generated for park360 on 2025-11-13T09:04:23-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'park360'
primary_region = 'iad'
console_command = 'php /var/www/html/artisan tinker'

[build]
  [build.args]
    NODE_VERSION = '18'
    PHP_VERSION = '8.2'

[env]
  APP_ENV = 'production'
  LOG_CHANNEL = 'stderr'
  LOG_LEVEL = 'info'
  LOG_STDERR_FORMATTER = 'Monolog\Formatter\JsonFormatter'
  SESSION_DRIVER = 'cookie'
  SESSION_SECURE_COOKIE = 'true'
  APP_URL = 'https://park360.fly.dev'
  APP_FORCE_HTTPS = 'true'
  DB_CONNECTION = "mysql"
  DB_HOST = "my-mysql-lively-moon-3393.internal"
  DB_DATABASE= "laravel"


[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1

[mounts]
  source="storage_vol"
  destination="/var/www/html/storage"

[deploy]
  release_command = "php artisan migrate:fresh --seed --force"

